<?xml version="1.0"?>
<launch>

<!-- Add all transfer topics here -->
    <arg name="Topic1" value="T_0_9" />
    <arg name="Port1" value="18600" />
    <arg name="DeviceName1" value="T_09" />
    <node name="ros2oigtlTransformationJ1" pkg="rosopenigtbridge" type="ros2oigtlTransformation" args="$(arg Topic1) $(arg Port1) $(arg DeviceName1)" respawn="true" output="screen"/>

    <arg name="Topic2" value="T_0_10" />
    <arg name="Port2" value="18640" />
    <arg name="DeviceName2" value="T_010" />
    <node name="ros2oigtlTransformationJ2" pkg="rosopenigtbridge" type="ros2oigtlTransformation" args="$(arg Topic2) $(arg Port2) $(arg DeviceName2)" respawn="true" output="screen"/>

    <arg name="Topic3" value="T_0_11" />
    <arg name="Port3" value="18680" />
    <arg name="DeviceName3" value="T_011" />
    <node name="ros2oigtlTransformationJ3" pkg="rosopenigtbridge" type="ros2oigtlTransformation" args="$(arg Topic3) $(arg Port3) $(arg DeviceName3)" respawn="true" output="screen"/>

    <arg name="Topic4" value="flange_setpoint" />
    <arg name="Port4" value="18700" />
    <arg name="DeviceName4" value="T_EE_CMD" />
    <node name="ros2oigtlTransformationFlange" pkg="rosopenigtbridge" type="ros2oigtlTransformation" args="$(arg Topic4) $(arg Port4) $(arg DeviceName4)" respawn="true" output="screen"/>

    <arg name="Topic5" value="flange_actual" />
    <node name="oigtl2rosTransformation" pkg="rosopenigtbridge" type="oigtl2rosTransformation" args="$(arg Topic5)" respawn="true" output="screen"/>


    <node name="oigtl2rosPivot" pkg="rosopenigtbridge" type="oigtl2rosPivot" respawn="true"/>
</launch>
